.footerWrapper {
  background: black;
  color: white;
}

.footerContainer {
  padding: 3rem 20px 0.5rem;
}

.socialLinks {
  font-size: 1.2rem;
  font-weight: 300;

  ul {
    li {
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: bold;
      display: inline;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  text-align: right;
  font-weight: 100;
  font-size: 12px;
}
