.articleHeader {
  //max-width: 720px;
  padding-bottom: 2rem;

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 2.3rem;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0;
    padding: 0;
  }

  small {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

}
