.container {
  margin: 40px 0px;
}

.content {
  max-height: 400px;
  overflow-y: scroll;
}

.codeHeader {
  display: flex;
  margin-bottom: -7px;
  padding: 10px 30px;
  justify-content: space-between;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  background: #e4e4e4;
  font-size: 13px;
}
