.container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.intro {
  width: 55%;

  line-height: 2rem;
  font-weight: 200;
}

.form {
  padding: 1rem 0;

  input {
    min-width: 250px;
    padding: 0.6rem 1rem;

    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
  }

  input::placeholder {
    color: grey;
    font-weight: 300;
  }

  input:focus {
    outline: none;
  }
}

.submitButton {
  padding: 0.6rem 1rem;
  margin-left: 2rem;

  color: black;
  background: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;

  :hover {
    cursor: pointer;
  }
}
